<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Max+2x.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49C553541CA3E62B00AF0BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C553701CA3E62B00AF0BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C5537B1CA3E62B00AF0BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
